/*初始化*/
* {
    margin: 0;
    padding: 0;

}


/*login*/

.form_login {
    width: 40%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.op {
	margin:0;
	border:1px solid gray;	
	height: 0.5rem;
	margin-bottom:15px;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    /*border: 1px solid red;*/
}

.container.radios {
	margin-bottom:0.2rem;
}

.container.addtion {
	border:1px solid gray;	
	 height: 0.5rem;
	 margin-bottom:15px;
}

.container.table {
	margin-top:0.2rem;
}

.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
     width:100%;
    position: relative;
}

.box>.user_name_input {
    border: 1px solid gray;
    height: 0.5rem;
    line-height: normal;
}

.box>.password_input {
    border: 1px solid gray;
    height: 0.5rem;
    line-height: normal;
}
.sb {
   /*  border: 1px solid red; */
   padding:0;
    height: 0.5rem;
    
}

[data-dpr="1"] .sb {

    font-size: 12px;
}

[data-dpr="2"] .sb {

    font-size: 18px;
}

[data-dpr="3"] .sb {

    font-size: 24px;
}

[data-dpr="1"] .box>.user_name_input {

    font-size: 12px;
}

[data-dpr="2"] .box>.user_name_input {

    font-size: 18px;
}

[data-dpr="3"] .box>.user_name_input {

    font-size: 24px;
}

[data-dpr="1"] .box>.password_input {

    font-size: 12px;
}

[data-dpr="2"] .box>.password_input {

    font-size: 18px;
}

[data-dpr="3"] .box>.password_input {

    font-size: 24px;
}